# Chapter 2 - Python Structures

## 2.0 The Power of Lists

In [65]:
shopping = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [66]:
for item in shopping:
    print(item)

bread
milk
eggs

In [14]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [68]:
m = [[1, 2, 3], [4, 5, 6]]

## 2.1 Matrices as nested lists

In [69]:
print(m[1][1])

5

In [78]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [23]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [19]:
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [35]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

# Initialize a result placeholder
result = [[0,0,0], 
        [0,0,0], 
        [0,0,0]] 

# iterate through rows 
for i in range(len(X)):    
# iterate through columns 
    for j in range(len(X[0])): 
        result[i][j] = X[i][j] + Y[i][j] 
        
print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [80]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]


# Initialize a result placeholder
result = [[0,0,0], 
        [0,0,0], 
        [0,0,0]] 

# iterate through rows 
for i in range(len(X)):    
# iterate through columns 
    for j in range(len(X[0])): 
        result[i][j] = X[i][j] - Y[i][j] 
        
print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

In [46]:
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]] 
  
# iterating by row of A 
for i in range(len(X)): 
  
    # iterating by coloum by B  
    for j in range(len(Y[0])): 
  
        # iterating by rows of B 
        for k in range(len(Y)): 
            result[i][j] += X[i][k] * Y[k][j] 

for r in result: 
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

## 2.3 List Methods

In [58]:
shopping = ["bread","milk", "eggs"]
print(len(shopping))

3

In [59]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [92]:
list3 = ['oi']
print(list*3)

['oi', 'oi', 'oi']

In [64]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [65]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [66]:
print(shopping[-1])

eggs

In [81]:
print(shopping[0:2])

['bread', 'milk']

In [82]:
print(shopping[:3])

['bread', 'milk', 'eggs']

In [83]:
print(shopping[1:])

['milk', 'eggs']

In [5]:
for item in shopping:
    print(item)

bread
milk
eggs
apple

In [84]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [85]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [86]:
shopping.insert(2, 'ham') 
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

## 2.4 Dictionary Keys and Values

In [75]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

In [76]:
print(movie['year'])

1972

In [78]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.275

In [1]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [ ]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
    'runtime': 175,
    'language': 'English'
}

In [82]:
employees = [
    {"name": "John Mckee", "age":38, "department":"Sales"},
    {"name": "Lisa Crawford", "age":29, "department":"Marketing"},
    {"name": "Sujan Patel", "age":33, "department":"HR"}
]

print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

## 2.5 Zipping and Unzipping Dictionaries

In [14]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [15]:
orders = zip(items,quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [16]:
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [17]:
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

## 2.6 Dictionary Methods

In [24]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [27]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [31]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

## 2.7 Why Tuples

In [2]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [6]:
t.append('apple')
#t[2]='apple'

AttributeError: 'tuple' object has no attribute 'append'

In [19]:
print(t + ('apple','orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [24]:
t_mixed = 'apple', True, 3
print(t_mixed)

t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

## 2.8 A survey of Sets

In [32]:
s1 = set([1,2,3,4,5,6])
print(s1)

s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)

s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [60]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'banana', 'apple', 'orange'}

In [61]:
s4.add('pineapple')
print(s4)

{'banana', 'pineapple', 'apple', 'orange'}

In [35]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [42]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [44]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [63]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [51]:
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}

print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [54]:
print(s7 < s8)

s9 = {1,2,3}
s10 = {1,2,3}

print(s9 < s10)
print(s9 < s9)

True
False
False

In [59]:
print(s8 >= s7)
print(s8.issuperset(s7))


print(s8 > s7)
print(s8 > s8)

True
True
True
False