In [4]:
# This is a familiar Python for..in loop for iterating over an array
cubes = []
for x in [1,2,3,4,5]:
    cubes.append(x**3)
print(cubes)

[1, 8, 27, 64, 125]

In [5]:
# The list comprehension achieves the same thing
cubes = [x**3 for x in [1,2,3,4,5]]
print(cubes)

[1, 8, 27, 64, 125]

In [6]:
cubes = [x**3 for x in range(1,6)]
print(cubes)

[1, 8, 27, 64, 125]

In [7]:
names = ["Graham Chapman", "John Cleese", "Terry Gilliam", "Eric Idle", "Terry Jones"]
print([name.upper() for name in names if name.startswith("T")])

['TERRY GILLIAM', 'TERRY JONES']