# Python In Demand

# Chapter 1: Vital Python

## Topic 1.1: Numbers

### Basic Math

In [1]:
# Addition
5 + 2

7

In [2]:
# Subtraction
5 - 2

3

In [3]:
# Multiplication
5 * 2

10

In [4]:
# Division
5 / 2

2.5

In [5]:
# Integer Division
5 // 2

2

In [6]:
# Exponentiation
5 ** 2

25

In [7]:
# Remainder
5 % 2

1

### Order of Operations

In [8]:
# Multiplication before division
5 + 2 * -3

-1

In [9]:
# Parenthesis first
(5 + 2) * -3

-21

### Exercise 1: Order of Operations

In [10]:
# Subtract 5 to the 3rd power from 100 and divide the result by 5. 
(100 - 5 **3)/5

-5.0

In [11]:
# Add 6 to the remainder of 15 divided 4.
6 + 15 % 4

9

In [12]:
# Add 2 to the 2nd power to the integer division of 24 and 4.
2**2 + 24//4

10

## Exercise 2: Integers and Floats

In [13]:
1. # Explicitly determine the type of 6
type(6)

int

In [14]:
2. # Explicitly determine the type of 6.0
type(6.0)

float

In [15]:
3. # Add 5 to 3.14. Infer the type of their sum.
5 + 3.14

8.14

This is a float.

In [16]:
4. # Convert 7.999999999 to an int
int(7.999999999)

7

In [17]:
5. # Convert 6 to a float
float(6)

6.0

### Exercise 5: Complex Number Types

In [18]:
1. # Divide 2 + 3j by 1 - 5j with parentheses. 
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

### Variables

In [19]:
# 1. Set x equal to the number 2. 
x = 2

In [20]:
# 2. Add 1 to the variable x. 
x + 1

3

In [21]:
# 3. Change x to 3 and add 1 to it.  
x = 3
x + 1

4

In [22]:
# 4. Reassign x to x plus 4.0. 
x = x + 4.0
x

7.0

### Changing Types

In [23]:
# y starts as an integer
y = 10

# y becomes a float
y = y - 10.0

# Check the type of y
type(y)

float

In [24]:
# Reassign variable in terms of itself
x = 6
x += 1

### Exercise 5: Multiple Variables

In [25]:
# 1. Assign 5 to x and 2 to y.
x = 5
y = 2

In [26]:
# 2. Add x to x and subtract y to the second power. 
x + x - y ** 2

6

In [27]:
# 3. Assign 8 to x, and 5 to y in one line. 
x, y = 8, 5

In [28]:
# 4. Find the integer division of x and y 
x // y

1

### Comments

In [29]:
# This is a comment

In [30]:
pi = 3.14    # Set the variable pi equal to 3.14

### Docstrings

In [31]:
""" 

This document will explore why comments are particularly useful  

when writing and reading code. 

"""

' \n\nThis document will explore why comments are particularly useful  \n\nwhen writing and reading code. \n\n'

In [32]:
x, y = 1, 2
y / (x - y) ** x

-2.0

### Topic 1.2  Strings

In [33]:
# Valid string.
bookstore = 'City Lights'

In [34]:
# # Uncomment to show error
# # Invalid string
# bookstore = 'City Lights"

In [35]:
bookstore = "Moe's"

In [36]:
# # Uncomment to show error
# bookstore = 'Moe's'

In [37]:
bookstore = 'Moe\'s'

### Multi-line Strings

In [38]:
vacation_note = ''' 
During our vacation to San Francisco, we waited in a long line by 
Powell St. Station to take the cable car. Tap dancers performed on 
wooden boards. By the time our cable car arrived, we started looking 
online for a good place to eat. We're on the way to North Beach.
'''

### Exercise 2: Displaying Strings

In [39]:
# 1. Define a variable greeting as 'Hello." Display the greeting using the print() function. 
greeting = 'Hello'
print(greeting)

Hello

In [40]:
# 2. Display the value of greeting without using the print() function. 
greeting

'Hello'

In [41]:
# 3. Consider the following sequence of code in a single cell in a Jupyter Notebook.￼ 
spanish_greeting = 'Hola'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan'

In [42]:
# 4. Display Spanish and Arabic greetings. 
spanish_greeting = 'Hola'
print(spanish_greeting)
arabic_greeting = 'Ahlan wa sahlan'
print(arabic_greeting)

Hola
Ahlan wa sahlan

### Exercise 3: String Operations and Concatenation

In [43]:
#1. Combine spanish_greeting with 'Senor' using the + operator. Display the results. 
print(spanish_greeting + 'Senor.')

HolaSenor.

In [44]:
# 2. Combine spanish_greeting with 'Senor' using the + operator. Include a space
print(spanish_greeting + ' Senor.')

Hola Senor.

In [45]:
# 3. Display greeting 5 times using the multiplication operator. 
print(greeting * 5)

HelloHelloHelloHelloHello

### Comma Separator

In [46]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

Should we greet people with Ciao in North Beach?

### Format

In [47]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is {} years old.'.format(owner, age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is 100 years old.

### len() function

In [48]:
len(arabic_greeting)

15

In [49]:
len(spanish_greeting)

4

### String Methods

In [50]:
# 1. Set a new variable name to any name that you like. 
name = 'Corey'

In [51]:
# 2. Convert name into lowercase letters using lower(). 
name.lower()

'corey'

In [52]:
# 3. Capitalize the name using capitalize(). 
name.capitalize()

'Corey'

In [53]:
# 4. Convert name into uppercase letters using upper(). 
name.upper()

'COREY'

In [54]:
# 6. Count the number of o's in the word 'Corey'. 
name.count('o')

1

### Exercise 5: Types and Casting

In [55]:
# 1. Determine the type of '5' 
type('5')

str

In [56]:
# 2. Add '5' and '7' 
'5' + '7'

'57'

In [57]:
# 3. Convert the string '5' to an int. 
int('5')

5

In [58]:
# 4. Add '5' and '7' by converting them to ints first. 
int('5') + int('7')

12

### Exercise 6: Input

In [59]:
# 1. Ask a user for their name. Respond with an appropriate greeting.

In [60]:
# # Uncomment to run

# # Choose a question to ask
# print('What is your name?')

# # Set a variable equal to input()
# name = input()

# # Select an appropriate output.
# print('Hello, ' + name + '.')

### String Indexing and Slicing

In [61]:
destination = 'San Francisco'

In [62]:
destination[0]

'S'

In [63]:
destination[-1]

'o'

In [64]:
destination[-2]

'c'

In [65]:
bridge = 'Golden Gate'
bridge[6]

' '

### Example 7: Slicing

In [66]:
# 1. Retrieve the 5th through 11th letters of San Francisco 
destination[4:11]

'Francis'

In [67]:
# 2. Retrieve the first three letters of destination. 
destination[0:3]

'San'

In [68]:
# 3. Retrieve the first 8 letters of destination using the shortcut.  
destination[:8]

'San Fran'

In [69]:
# 4. Retrieve the last 3 letters of destination. 
destination[-3:]

'sco'

## Booleans and Conditionals

### Exercise 1: Booleans variables

In [70]:
# 1. Use a Boolean to classify a someone as over 18. 
over_18 = True
type(over_18)

bool

In [71]:
# 2. Use a Boolean to classify someone as not over 21. 
over_21 = False
type(over_21)

bool

### Exercise 2: Logical Operators

Determine if the following conditions are True or False given that over_18 = True and over_21 = False. 

1. over_18 and over_21 

2. over_18 or over_21 

3. not over_18 

4. not over_21 or (over_21 or over_18)

In [72]:
over_18, over_21 = True, False

In [73]:
over_18 and over_21

False

In [74]:
over_18 or over_21

True

In [75]:
not over_18

False

In [76]:
not over_21 or (over_21 or over_18)

True

### Exercise 3: Comparison Operators

In [77]:
# 1. Set age equal to 20. Is age less than 13? 
age = 20
age < 13

False

In [78]:
# 2. Is age greater than or equal to 20 and less than or equal to 21 ? 
age >= 20 and age <= 21

True

In [79]:
# 3. Is age not equivalent to 21? 
age != 21

True

In [80]:
# 4. Is age equivalent to 19? 
age == 19

False

In [81]:
# 5. Is 6 equivalent to 6.0 in Python? 
6 == 6.0

True

In [82]:
# 6. Is 6 equivalent to the string '6'? 
6 == '6'

False

In [83]:
# 7. Is someone in their 20's or 30's? 
(age >= 20 and age< 30) or (age>=30 and age<40)

True

In [84]:
(20 <= age < 30) or (30 <= age < 40)

True

### Exercise 4: Comparing Strings

In [85]:
# 1. Comparing single letters 
'a' < 'c'

True

In [86]:
# 2. Comparing full words 
'New York' > 'San Francisco'

False

### if Syntax

In [87]:
if age < 18:
    print('You aren\'t old enough to vote.')

### Exercise 5: if Syntax

In [88]:
age = 20 

if age >= 18 and age < 21: 
    print('At least you can vote.') 
    print('Poker will have to wait.')

At least you can vote.
Poker will have to wait.

In [89]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

You can vote.

### Exercise 7: if else Syntax

In [90]:
# 1. Introduce a voting program only if users are over 18. 
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [91]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

### elif

In [92]:
if age <= 10:
    print('Listen, learn, and have fun.')
elif age<= 19:
    print('Go fearlessly forward.')
elif age <= 29:
    print('Seize the day.')
elif age <= 39:
    print('Go for what you want.')
elif age <= 59:
    print('Stay physically fit and healthy.')
else:
    print('Each day is magical.')

Seize the day.

## Loops

### while loop

In [93]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### An infinite loop

In [94]:
# # Uncomment to get stuck in an infinite loop
# x = 5
# while x <= 20:
#     print(x)

### Exercise 1: while loop

In [95]:
# Print out the first 20 even numbers. 

i = 1 
while i <= 20: 
    print (2*i) 
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

### break

In [96]:
# Find first number greater than 100 and divisible by 17.
x = 100
while x <= 1000:
    x += 1
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

 102 is the first number greater than 100 that is divisible by 17.

### Exercise 2: Perfect Squares

Prompt the user to find out if a given number is a perfect square.

In [97]:
# # Uncomment to run

# # Find the perfect square of a number

# # Prompt user to enter a number to see if its a perfect square 
# print('Enter a number to see if it\'s a perfect square.')

# # Set a variable equal to input()
# number = input()

# # Ensure input is a positive whole number
# number = abs(int(number))

# # Choose iterator variable
# i = -1

# # Initialize Boolean to check for perfect square
# square = False

# # Initialize while loop from -1 to square root of the number
# while i <= number**(0.5):
    
#     # Increment i by 1
#     i += 1
    
#     # Check if is the square root of the number
#     if i*i == number:
        
#         # Indicate that we have a perfect square
#         square = True
        
#         # break out of loop
#         break

# # If the number is square, print out the result
# if square:
#     print('The square root of', number, 'is', i, '.')

# # If the number is not a square print out the result    
# else:
#     print('', number, 'has no perfect square.')

### Exercise 3: Real Estate Offer

Prompt the user to find out if a given number is a perfect square.

In [98]:
# # Uncomment to run

# # Give range of offers to purchase a house

# # State market price
# print('A one bredroom in the Bay Area is listed at $599,000')

# # Prompt user to make an offer on a house 
# print('Enter your first offer on the house.')

# # Set offer equal to input()
# offer = abs(int(input()))

# # Prompt user to enter best offer on house 
# print('Enter your best offer on the house.')

# # Set best equal to input()
# best = abs(int(input()))

# # Prompt user to choose increments 
# print('How much more do you want offer each time?')

# # Set increment equal to input()
# increment = abs(int(input()))

# # Set offer_accepted equal to False
# offer_accepted = False


# # Initialize for loop from offer to best
# while offer <= best:
    
#     # If offer is greater than 650,000, they get the house 
#     if offer >= 650000:
#         offer_accepted = True
#         print('Your offer of', offer, 'has been accepted!')
#         break
    
#     # If offer does not exceed 650,000 they don't get the house
#     print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    
#     # Add increment to offer
#     offer += increment

### Exercise 4: for loops

In [99]:
# 1. print out the characters of ‘Portland’ 
for i in 'Portland':
    print(i)

P
o
r
t
l
a
n
d

In [100]:
# 2. Let’s use an lower bound of 1, and an upper bound of 10 with range to print 1-9. 
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [101]:
# 3. Now use range with one bound only, the number 10 to print the first ten numbers. 
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [102]:
# 4. Use a step increment to count the even numbers through 10. 
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [103]:
# 4. Use step increment to count down from 3 to 1. 
for i in range(3,0, -1):
    print(i)

3
2
1

In [104]:
# 5. Print each letter of your name 3 times. 
name = 'Corey'
for i in range(3):
    for i in name:
        print(i)

C
o
r
e
y
C
o
r
e
y
C
o
r
e
y

### continue

In [105]:
for num in range(10,100):
    if num % 2 == 0:
        continue
    if num % 3 == 0:
        continue
    if num % 5 == 0:
        continue
    if num % 7 == 0:
        continue
    print(num)

11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97