# Python In Demand

# Chapter 1: Vital Python

## Topic 1.1: Numbers

### Example 1: Basic Math

In [1]:
# Addition
5 + 2

7

In [2]:
# Subtraction
5 - 2

3

In [3]:
# Multiplication
5 * 2

10

In [4]:
# Division
5 / 2

2.5

In [5]:
# Integer Division
5 // 2

2

In [6]:
# Exponentiation
5 ** 2

25

In [7]:
# Remainder
5 % 2

1

### Example 2: Order of Operations

In [8]:
# Multiplication before division
5 + 2 * -3

-1

In [9]:
# Parenthesis first
(5 + 2) * -3

-21

In [10]:
# Parentheses, exponentiation, addition/subtraction
(5 + 23) / ((-7)**2 - 35)

2.0

### Exercise 1: Basic Math and Order of Operations

In [11]:
2**4

16

In [12]:
15%4

3

In [13]:
24 / 4

6.0

In [14]:
24//4

6

In [15]:
(-3**2 + 1) / (11 - - 5)

-0.5

## Number Types

In [16]:
# an int
type(6)

int

In [17]:
# a float
type(6.0)

float

In [18]:
# adding an int and float gives a float
5 + 3.14

8.14

In [19]:
# convert float to int
int(6.0)

6

In [20]:
# convert into to float
float(6)

6.0

In [21]:
# ints take the floor
int(7.999999999)

7

### Complex Number Types

In [22]:
# # Uncomment to show error
# # an invalid type
# type(3 + 2i)

In [23]:
# a complex number
type(3 + 2j)

complex

In [24]:
2 + 3j / 1 - 5j

(2-2j)

In [25]:
(2 + 3j) / (1 - 5j)

(-0.5+0.5j)

In [26]:
## Errors

In [27]:
# # Uncomment to show error
# # invalid syntax
# 5 **

In [28]:
# # Uncomment to show error
# # NameError
# x + 1

### Variables

In [29]:
# Variable assignment
x = 2

In [30]:
# Expression with variable
x + 1

3

In [31]:
# Reassign variable
x = 3
x + 1

4

In [32]:
# Reassign variable using itself
x = x + 4.0
x

7.0

In [33]:
# Add two complex numbers
complex_1 = 3 + 4j
complex_2 = -1 - 1j
complex_1 + complex_2

(2+3j)

In [34]:
# # Uncomment to show error
# # Variables can't start with numbers
# 1st_number = 2

In [35]:
# Variables should start with letters and use underscores
first_number = 2

In [36]:
# # Uncomment to show error
# # Avoid special characters in variable assignment
# my_$ = 1000.00

In [37]:
my_money = 1000.00

In [38]:
# # Uncomment to show error
# x, y, z = 1, 2, 3
# x = x - x
# y = z
# z = z / x

### Multiple Variables

In [39]:
# Assign two variables
x = 5
y = 2

In [40]:
# Subtract two variables
x - y

3

In [41]:
# Exponentiate two variables
y**x

32

In [42]:
# Combine operations with two variables
x + x - y ** 2

6

Python has a lot of cool shortcuts, and multiple variable assignment is one of them. Here's another way to declare two variables.

In [43]:
# Double variable assignment
x, y = 8, 5

In [44]:
# Integer division with two variables
x // y

1

In [45]:
# Multiple two variables
x * y

40

In [46]:
# Assign three variables
x, y, z = 2, 3, 4

In [47]:
# Find the Pythagorean Distance
w_squared = x**2 + y**2 + z**2
w = w_squared ** 0.5
w

5.385164807134504

### Comments

In [48]:
# This is a comment

In [49]:
pi = 3.14    # Set the variable pi equal to 3.14

In [50]:
# Initialize variables
x, y, z = 2, 3, 4     

# Pythagorean Theorem in 3 dimensions
w_squared = x**2 + y**2 + z**2 

# The square root gives the distance
w = w_squared ** 0.5    

# Show this distance
w

5.385164807134504

In [51]:
x, y = 1, 2
y / (x - y) ** x

-2.0

### Topic 1.2  Strings

In [52]:
bookstore = 'City Lights'

In [53]:
# # Uncomment to show error
# bookstore = 'City Lights"

In [54]:
bookstore = "Moe's"

In [55]:
# # Uncomment to show error
# bookstore = 'Moe's'

In [56]:
bookstore = 'Moe\'s'

In [57]:
curvy_road = 'Lombard St.'
curvy_road[-3:]

'St.'

In [58]:
vacation_note = ''' 
During our vacation to San Francisco, we waited in a long line by 
Powell St. Station to take the cable car. Tap dancers performed on 
wooden boards. By the time our cable car arrived, we started looking 
online for a good place to eat. We're on the way to North Beach.
'''

In [59]:
greeting = 'Hello'
print(greeting)

Hello

In [60]:
greeting

'Hello'

In [61]:
spanish_greeting = 'Hola'
spanish_greeting
arabic_greeting = 'Ahlan wa sahlan'

In [62]:
spanish_greeting = 'Hola'
print(spanish_greeting)
arabic_greeting = 'Ahlan wa sahlan'
print(arabic_greeting)

Hola
Ahlan wa sahlan

In [63]:
favorite_city = "Berkeley"
print(favorite_city)

Berkeley

In [64]:
print(spanish_greeting + ' Senor.')

Hola Senor.

In [65]:
print(greeting * 5)

HelloHelloHelloHelloHello

In [66]:
print((greeting + ' ') * 5 + '.')

Hello Hello Hello Hello Hello .

In [67]:
italian_greeting = 'Ciao'
print('Should we greet people with', italian_greeting, 'in North Beach?')

Should we greet people with Ciao in North Beach?

In [70]:
owner = 'Lawrence Ferlinghetti'
age = 100
print('The founder of City Lights Bookstore, {}, is {} years old.'.format(owner, age))

The founder of City Lights Bookstore, Lawrence Ferlinghetti, is 100 years old.

In [71]:
destination_1 = 'Golden Gate Bridge'
destination_2 = 'Golden Gate Park'
print('Today we are going to visit the', destination_1, 'and', destination_2, '.')

Today we are going to visit the Golden Gate Bridge and Golden Gate Park .

In [72]:
len(arabic_greeting)

15

In [73]:
len(spanish_greeting)

4

### String Methods

In [74]:
name = 'Corey'

In [75]:
name.lower()

'corey'

In [76]:
name.capitalize()

'Corey'

In [77]:
name.upper()

'COREY'

In [78]:
name.count('o')

1

In [79]:
name = name.lower()
print(name)

corey

### Numbers as Strings

In [80]:
'5' + '7'

'57'

In [81]:
type('5')

str

In [82]:
int('5')

5

In [83]:
int('5') + int('7')

12

In [84]:
str(5)

'5'

In [85]:
five = 5
five = str(five)
print(five*20)

55555555555555555555

In [86]:
five = int(five)
print(five*20)

100

### Input

In [87]:
# Choose a question to ask
print('What is your name?')

# Set a variable equal to input()
name = input()

# Select an appropriate output.
print('Hello, ' + name + '.')

What is your name?
Corey
Hello, Corey.

In [88]:
# Choose a question to ask
print('How would you rate your day on a scale of 1 to 10?')

# Set a variable equal to input()
day_rating = input()

# Select an appropriate output.
print('You feel like a ' + day_rating + ' today. Thanks for letting me know')

How would you rate your day on a scale of 1 to 10?
4
You feel like a 4 today. Thanks for letting me know

### String Indexing and Slicing

In [89]:
destination = 'San Francisco'

In [90]:
destination[0]

'S'

In [91]:
destination[-1]

'o'

In [92]:
destination[-2]

'c'

In [93]:
bridge = 'Golden Gate'
bridge[6]

' '

In [94]:
destination[4:11]

'Francis'

In [95]:
destination[0:3]

'San'

In [96]:
destination[:8]

'San Fran'

In [97]:
destination[-3:]

'sco'

In [98]:
neighborhood = 'North Beach'

In [99]:
neighborhood[:5]

'North'

In [100]:
neighborhood[6:8]

'Be'

In [101]:
neighborhood[-5:]

'Beach'

In [102]:
100 % 3

1

### Booleans

In [103]:
over_18 = True
type(over_18)

bool

In [104]:
over_21 = False
type(over_21)

bool

In [105]:
over_18 and over_21

False

In [106]:
over_18 or over_21

True

In [107]:
not over_18

False

In [108]:
not over_21 or (over_21 or over_18)

True

In [109]:
age = 20

In [110]:
age < 13

False

In [111]:
age >= 20 and age <= 21

True

In [112]:
age != 21

True

In [113]:
age == 19

False

In [114]:
18 < age < 21

True

In [115]:
18 < age and age < 21

True

In [116]:
(18 < age) and (age < 21)

True

In [117]:
age

20

In [118]:
6 == 6.0

True

In [119]:
6 == '6'

False

In [120]:
age == 18 or age == 21

False

In [121]:
(age >= 20 and age< 30) or (age>=30 and age<40)

True

In [122]:
(20 <= age < 30) or (30 <= age < 40)

True

In [123]:
'a' > 'c'

False

In [124]:
'New York' > 'San Francisco'

False

In [125]:
if age >= 18:
    print('You can vote.')
    print('Poker will have to wait.')

You can vote.
Poker will have to wait.

In [126]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

You can vote.

### Conditionals

In [127]:
if age < 18:
    print('You aren\'t old enough to vote.')

In [128]:
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [129]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

In [130]:
if age <= 10:
    print('Listen, learn, and have fun.')
elif age<= 19:
    print('Go fearlessly forward.')
elif age <= 29:
    print('Seize the day.')
elif age <= 39:
    print('Go for what you want.')
elif age <= 59:
    print('Stay physically fit and healthy.')
else:
    print('Each day is magical.')

Seize the day.

In [133]:
num = 4
count = 0 
if num <= 1:
    count = count + 1
elif count <=3:
    count = count + 3
elif count <= 5:
    count = count + 5
elif count <= 7:
    count = count + 7
else:
    count = 10

### loops

In [134]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [137]:
# # Uncomment to get stuck in an infinite loop
# x = 5
# while x <= 20:
#     print(x)

In [140]:
# Find first number greater than 100 and divisible by 17.
x = 100
while x <= 1000:
    x += 1
    if x % 17 == 0:
        print('', x, 'is the first number greater than 100 that is divisible by 17.')
        break

 102 is the first number greater than 100 that is divisible by 17.

In [141]:
# Find the Least Common Multiple of Two Divisors
count = True
first_divisor = 24
second_divisor = 36
i = 1
while count:
    if i % first_divisor == 0 and i % second_divisor == 0:
        print('The Least Common Multiple of', first_divisor, 'and', second_divisor, 'is', i, '.')
        break
    i += 1

The Least Common Multiple of 24 and 36 is 72 .

In [142]:
# Find the perfect square of a number

# Prompt user to enter a number to see if its a perfect square 
print('Enter a number to see if it\'s a perfect square.')

# Set a variable equal to input()
number = input()

# Ensure input is a positive whole number
number = abs(int(number))

# Choose iterator variable
i = -1

# Initialize Boolean to check for perfect square
square = False

# Initialize while loop from -1 to square root of the number
while i <= number**(0.5):
    
    # Increment i by 1
    i += 1
    
    # Check if is the square root of the number
    if i*i == number:
        
        # Indicate that we have a perfect square
        square = True
        
        # break out of loop
        break

# If the number is square, print out the result
if square:
    print('The square root of', number, 'is', i, '.')

# If the number is not a square print out the result    
else:
    print('', number, 'has no perfect square.')

Enter a number to see if it's a perfect square.
64
The square root of 64 is 8 .

In [143]:
# Give range of offers to purchase a house

# State market price
print('A one bredroom in the Bay Area is listed at $599,000')

# Prompt user to make an offer on a house 
print('Enter your first offer on the house.')

# Set offer equal to input()
offer = abs(int(input()))

# Prompt user to enter best offer on house 
print('Enter your best offer on the house.')

# Set best equal to input()
best = abs(int(input()))

# Prompt user to choose increments 
print('How much more do you want offer each time?')

# Set increment equal to input()
increment = abs(int(input()))

# Set offer_accepted equal to False
offer_accepted = False


# Initialize for loop from offer to best
while offer <= best:
    
    # If offer is greater than 650,000, they get the house 
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    
    # If offer does not exceed 650,000 they don't get the house
    print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    
    # Add increment to offer
    offer += increment

A one bredroom in the Bay Area is listed at $599,000
Enter your first offer on the house.
500000
Enter your best offer on the house.
699999
How much more do you want offer each time?
50000
We're sorry, you're offer of 500000 has not been accepted.
We're sorry, you're offer of 550000 has not been accepted.
We're sorry, you're offer of 600000 has not been accepted.
Your offer of 650000 has been accepted!

### For Loops

In [144]:
for i in 'Portland':
    print(i)

P
o
r
t
l
a
n
d

In [146]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [147]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [155]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [152]:
for i in range(3,0, -1):
    print(i)

3
2
1

In [158]:
name = 'Corey'
for i in range(3):
    for i in name:
        print(i)

C
o
r
e
y
C
o
r
e
y
C
o
r
e
y

In [160]:
for i in 'hi':
    for i in 'go':
        print(i)

g
o
g
o