In [1]:
import pandas as pd
housing_df = pd.read_csv('HousingData.csv')

In [2]:
housing_df.isnull().any()

CRIM       False
 ZN        False
INDUS      False
CHAS       False
NOX        False
RM         False
AGE        False
DIS        False
RAD        False
TAX        False
PTRATIO    False
LSTAT      False
MEDV       False
dtype: bool

In [3]:
housing_df.loc[:5, housing_df.isnull().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]